<!DOCTYPE html>
<html>
    <head>
<title>Passort</title>
    </head>
    <body>
     <form action="" method="post">
         <input type="text" name="username" placeholder="username">
         <input type="text" name="password" placeholder="Password">
         <input type="submit" value="Log in">
     </form>
    </body>
</html>